.item {
  margin-bottom: 5px;
  padding: 10px 20px;
}

.title {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.content {
  color: #617275;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
